@font-face {
    font-family: "Muli", sans-serif;
    src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
    font-family: "Muli", sans-serif;
    src: url(../fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: 'Georgia', sans-serif;
    src: url(../fonts/Georgia.ttf);
}
:root {
    --green-color: #00996d;
    --dark-grey-font: #333333;
    --light-grey-font: #777777;
    --blue-number: #e6f5f0;
    --green-about-bg: #255852;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

html {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
}

.page {
    width: 100%;
    height: 100vh;
    position: relative;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
a {
    transition: all .3s ease;
}

/*=================
-------Header------
===================*/
.header {
    padding-bottom: 53px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-logo {
    flex-basis: 50%;
}
.header-nav {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 32%;
    align-items: center;
}
.header-nav-link {
    font-family: 'Muli', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 500;
    padding-top: 45px;
    border-top: 8px solid rgba(0, 0, 0, 0);
}
.header-nav-link.border-green, .header-nav-link:hover {
    border-color: var(--green-color);
}

.header-btn {
    display: flex;
    justify-content: center;
    flex-basis: 18%;
}
.tel-btn {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: var(--green-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    border-radius: 20px;
    padding: 7px 21px;
    text-decoration: inherit;
}
.tel-icon {
    margin-right: 12px;
}
.tel-icon svg {
    width: 1em;
}
.tel-text {
    color: #fff;
}



/*=================
-------Main------
===================*/
.page-content {
    width: 100%;
    min-height: 770px;
}
/*=====Section title=====*/
.title-section {
    width: 100%;
    flex-basis: 66%;
    background: url(../img/Group-3.jpg) center no-repeat;
    background-size: cover;
    margin-top: -140px;
    margin-bottom: 0;
    padding-top: 300px;
    z-index: 1;

}
.title-section-inner {
    display: flex;
    justify-content: space-between;
}
.title-section-box {
    width: 51%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.title {
    font-family: 'Georgia', sans-serif;
    margin-bottom: 42px;
    font-size: 64px;
    font-weight: bold;
    line-height: 73px;
}
.text {
    width: 55%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    margin: 0 0 44px 110px;

}
.btn {
    transform: scale(1);
    transition: all .3s cubic-bezier(.5,.12,.46,.88);
    margin-left: 110px;
}
.btn.hover {
    transform: scale(0);
    transition: all .3s cubic-bezier(.5,.12,.46,.88);
}
.btn-icon {
    color: var(--green-color);
    font-size: 20px;
    margin-right: 7px;
}
.btn-link {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
}
.element-flower {
    width: 43%;
    padding: 10px;
}
.element-flower-wrap {
    position: relative;
    width: 100%;
    align-content: flex-start;
    bottom: -75px;
    transform: translateY(61px);
}
.element-flower-img {
    vertical-align: middle;
    display: inline-block;
    width: 858px;
    height: 740px;
}



/*=====Services=====*/
.boxed {
    display: flex;
    justify-content: end;
    margin-bottom: 82px;
}
.boxed-title-main {
    flex-basis: 50%;
}
.boxed-text{
    flex-basis: 35%;
}
.section__title {
    color: var(--dark-grey-font);
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 2.8px;
    padding: 116px 0 12px 0;
}
.boxed-title-main {
    color: var(--green-color);
    font-family: 'Georgia', sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    line-height: 55px;
}
.boxed-text {
    color: var(--light-grey-font);
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: 0.27px;
    padding-bottom: 21px;
}
.boxed-text.small {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.3px;
    margin-bottom: 54px;
}
.number-inner {
    color: var(--blue-number);
    font-family: 'Georgia', sans-serif;
    font-size: 140px;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: -14px;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}
.figure {
    display: flex;
    justify-content: space-between;
}
.figure-inner {
    width: 23%;
}
.figure-inner.lower {
    margin-top: 239px;
}
.figure-link {
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    position: relative;
    top: -40px;
    left: 55px;
}
.figure-link-inner {
    color: var(--dark-grey-font);
    font-family: 'Georgia', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    line-height: 37px;
    margin-bottom: 16px;
    text-decoration: none;
}
.figure-link-inner:hover {
    color: var(--green-color);
    transition: color .2s linear;
}
.boxed-img img {
    width: 280px;
}




/*=====About=====*/

.about {
    background-color: var(--green-about-bg);
    margin-top: -140px;
    padding: 80px 0 150px 0;
}
.sheets {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.sheet-img {
    background-size: auto;
    background: 30% 34%;
    transform: translateY(167.9px);
}
.font-white {
    color: #fff;
    padding: 0;
}
.boxed-group {
    flex-basis: 42%;
}
.boxed-text.bold {
    font-family: 'Georgia', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 37px;
}





/*=====OUR PROJECTS=====*/
.project__block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.project__block-img {
    flex-basis: 58%;
    width: 100%;
    height: auto;
}
.block-inner {
    flex-basis: 38%;
    display: flex;
    flex-direction: column;
}
.block-inner__title {
    font-family: 'Georgia', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 34px;
    color: var(--dark-grey-font);
    margin-bottom: 32px;
}
.block-inner__text {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: var(--light-grey-font);
    margin-bottom: 17px;
}
.table__string {
    display: flex;

}
.table__string-title {
    flex-basis: 29%;
    color: var(--dark-grey-font);
    font-family: 'Muli', Sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
}
.table__string-item {
    flex-basis: 69%;
    color: var(--green-color);
    font-family: 'Muli', Sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 40px;
}






/*=====Sliders=====*/
html,
body {
    position: relative;
    height: 100%;
}
.sliders {
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.swiper-text {
    order:4;
    width: 70%;
    color: var(--dark-grey-font);
    font-family: 'Georgia', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    line-height: 37px;
    margin: 0 auto 51px auto;
}
.swiper-source {
    order: 5;
    color: var(--green-color);
    font-family: 'Georgia', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 51px;
}
.swiper-country {
    padding: 12px 0;
    order: 6;
    color: var(--dark-grey-font);
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2.6px;
}
.quotes {
    order: 1;
    align-self: center;
    text-align: center;
    color: rgba(0, 153, 109,0.2);
    font-family: 'Georgia', sans-serif;
    font-size: 300px;
    font-weight: bold;
    font-style: normal;
    line-height: 341px;
    margin: 0 0 -233px 0;
}





/*=================
-------Footer------
===================*/
.footer-inner {
    background: url(../img/footer-bg.jpg) center no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, 
    border-radius 0.3s, box-shadow 0.3s;
    margin-top: -600px;
    padding: 800px 0 122px 0;
    z-index: 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.boxed-column {
    display: flex;
    flex-direction: column;
}
.adress-text {
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.7em;
}
.adress-text>a {
    text-decoration: underline;
}
.networks {
    display: flex;
    flex-direction: column;
}
.tel {
    text-decoration: none;
    color: #fff;

}
.tel:hover,  .mail:hover, 
.networks-link:hover {
    color: var(--green-color);
    transition: color .2s linear;
}
.networks-link {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #fff;
}